* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  margin: 0;
}

.logoimg {
  display: flex;
  margin: 0 auto;
}

.icon {
  background-color: #ffff;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.ico {
  display: block;
  height: 16px;
  width: 20px;
  margin: 0 auto;
}

.det {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-left: 20px;
}

.CEmain {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 66px;
  margin-left: 280px;
  height: 100vh;
}

.CEsection {
  border-radius: 10px;
  background-color: #ffff;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.08);
  margin-right: 10px;
  padding-right: 20px;
  padding: 30px 0 30px 30px;
}

.function {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 80px;
}

.action {
  display: flex;
  gap: 80px;
}

.Eh1 {
  margin: 20px;
}

.CEinput {
  height: 30px;
  width: 20vw;
  border-radius: 5px;
  border-width: 1px;
  background: #fafafa;
  border-style: solid;
  border-color: #e7e7e7;
  padding-left: 8px;
}

select {
  height: 30px;
  width: 20vw;
  border-radius: 5px;
  border-width: 1px;
  background: #fafafa;
  border-style: solid;
  border-color: #e7e7e7;
  padding-left: 8px;
  color: #676767;
}

.CEdetails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.CEform {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.CEbutton {
  height: 30px;
  width: 150px;
  margin-right: 10px;
  background-color: #03aeee;
  color: #ffff;
  font-weight: bolder;
  border-width: 1px;
  border-style: none;
  border-radius: 3px;
  box-shadow: 0 2px 2px #03aeee3f;
}

.cancel {
  background-color: #ffff;
  color: #acacac;
  border-style: solid;
  border-color: #acacac;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
}

/* sidebar */

.CEaside {
  padding-top: 8px;
  position: fixed;
  height: 100vh;
  width: 250px;
  background-color: #ffff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.nav {
  background-color: #03aeee;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-left: 10px;
  height: 50px;
  align-items: center;
  display: flex;
  padding-left: 10px;
}

.sidebarspan {
  color: #ffff;
  padding-left: 5px;
}

.navlink {
  text-decoration: none;
  align-items: center;
}

.navigation {
  margin-top: 30px;
  height: 866px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* list */
